@model IEnumerable<DemoSecurityApp.Models.User>

@{
    ViewBag.Title = "Login";
}

@if (TempData["Message"] != null)
{ 
    <h3 style="color: red;">@TempData["Message"]</h3>
}

@{var sL = new SelectList(Model, "ID", "FullName"); }

@using (Html.BeginForm())
{
    <h2>Select a User to Login</h2>
    @Html.DropDownList("id", sL)
    <br />
    <input type="submit" name="name" value="Login" />    
}



